@import "../../variables";

.job-main-container{
  position: relative;
  background-color: $light-yellow;
  color: $blue;
  font-family: Montserrat, sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  width: calc(50% - 20px);
  height: 200px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
}

.job-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 10px 8px 20px;
}

.job-header .job-title{
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.job-header .job-company{
  font-size: 14px;
}

.job-description{
  margin: -5px 20px -5px 20px;
  font-size: 18px;
  height: auto;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Maximum number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job-location{
  font-size: 12px;
  margin: 12px;
  position: relative;
  text-align: right;
}

.buttons-container{
  position: absolute;
  bottom: 5px;
  right: 35px;
}

.action-buttons-style{
  background-color: transparent;
  border: none;
  color: $blue;
}