@import '../../variables';

.jobs-main-container{
  position: relative;
  background-color: $yellow;
  height: auto;
}

.jobs-searchbar-container{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.jobs-searchbar{
  width: 350px;
}

.category{
  width: 100px;
}

.jobs-searchbar, .category{
  position: relative;
  margin: 20px;
  height: 40px;
  background-color: $light-yellow;
  border: none;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  color: $blue;
  cursor: pointer;
}

.jobs-searchbar::placeholder, .category::placeholder {
  color: $blue;
}

.category-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sticky-notes-grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.no-results{
  margin-top:2rem;
  text-align: center;
}

.category.selected{
  background-color: $blue;
  color: $light-yellow;
}
